force-app/main/default/flows/Order_Count_MAX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Total_Order_Count</name>
        <label>Total Order Count</label>
        <locationX>565</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>TotalOrderCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>curAccountOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countOrders</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Order Count MAX {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Value MAX</label>
    <loops>
        <name>countOrders</name>
        <label>countOrders</label>
        <locationX>564</locationX>
        <locationY>351</locationY>
        <collectionReference>curAccountOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Order_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Records</name>
        <label>Get Order Records</label>
        <locationX>565</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccountID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>curAccountOrders</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>799</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nr_of_Orders__c</field>
            <value>
                <elementReference>TotalOrderCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curAccountOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>TotalOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
