force-app/main/default/flows/Total_amount_of_Orders_this_year.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Total_Sum_of_Orders</name>
        <label>Total Sum of Orders</label>
        <locationX>565</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>TotalSumofOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>countOrders.SFCC_Order_Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>countOrders</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>orderthisyear</name>
        <dataType>Number</dataType>
        <expression>IF ({!Orderstartdate}&lt;=TODAY()+365,1,0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Total amount of Orders this year {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total amount of Orders this year</label>
    <loops>
        <name>countOrders</name>
        <label>countOrders</label>
        <locationX>564</locationX>
        <locationY>351</locationY>
        <collectionReference>curAccountOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Sum_of_Orders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Records</name>
        <label>Get Order Records</label>
        <locationX>565</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>countOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>isOrderthisyear__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>curAccountOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SFCC_Order_Total__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>799</locationX>
        <locationY>348</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_sum_of_Orders_this_year__c</field>
            <value>
                <elementReference>TotalSumofOrders</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>curAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curAccountOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Orderstartdate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>countOrders.EffectiveDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>TotalOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalSumofOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
